# Скомпилированные файлы Java (байт-код)
*.class

# Логи работы программы
*.log

# Папка сборки проекта IntelliJ IDEA (куда складываются скомпилированные файлы)
out/

# Служебная папка конфигурации IntelliJ IDEA
.idea/

# Файл конфигурации модулей проекта
*.iml

errors.txt

/logs